#indicator_led {
    height: 75%;
    aspect-ratio: 1;
    border-radius: 100%;

    background-color: var(--color-indicator-off);
    box-shadow: inset 0 0 var(--glow-size) var(--glow-size) var(--color-innerglow);

    transition: background-color 0.1s ease-in-out;
}
#indicator_led.lit{
    background-color: var(--color-indicator-lit);
}

#remote_name {
    text-align: center;
    font-size: 0.75rem;
    margin: 0;

    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    border-radius: 0.75rem;

    background-color: var(--color-name-background);
    box-shadow: inset 0 0 var(--glow-size) var(--glow-size) var(--color-innerglow);

    transform: translateX(1.5rem);
    margin-left: -1.5rem;
}

#power_button {
    width: 40%;
    height: 100%;
    z-index: 1;
}

.toggle {
    padding: 0.5rem;
    border-radius: 23%/50%;
    background-color: var(--color-power-toggle-off);
    box-shadow: inset 0 0 var(--glow-size) var(--glow-size) var(--color-innerglow);
    transition: background-color 0.1s ease-in-out;
}
.toggle .circle {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--color1);
    transition: margin-left 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.toggle .circle svg{
    position: relative;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    color: var(--color3);
}
.toggle.on {
    background-color: var(--color-power-toggle-on);
}
.toggle.on .circle {
    margin-left: 100%;
    transform: translateX(-100%);
}




.switches {
    display: flex;
    width: 100%;
    height: 100%;
}
.switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);

    --button-gap: 0.2rem;
    margin-left: calc(var(--button-gap)/2);
    margin-right: calc(var(--button-gap)/2);

    border-radius: 0.5rem;

    background-color: var(--color-button-off);
    box-shadow: inset 0 0 var(--glow-size) var(--glow-size) var(--color-innerglow);
    transition: background-color 0.1s ease-in-out;
}
.switch.on {
    background-color: var(--color-button-on);
}
.switch:first-child {
    margin-left: 0;
}
.switch:last-child {
    margin-right: 0;
}
.switch p {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 0.7rem;
    
}