html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.remote-container {

    height: 100%;
    aspect-ratio: 9/16;

    background-color: green;
}