html, body {
    height: 100%;
    margin: 0;
}

.rounded-corners {
    border-radius: 2rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remote-container {
    position: fixed;
    height: 100%;
    aspect-ratio: 0.5625;
}
@media (max-aspect-ratio: 9/16) {
    .remote-container {
        height: initial;
        width: 100%;
    }
}

.remote {
    position: relative;

    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin-top: 1rem;
    margin-left: 1rem;

    background-color: rgb(240,240,240);
}